.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
 
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: aliceblue;
  }
  
  .brand {
    display: flex;
    align-items: center;
    color: aliceblue;
  }

  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }
